<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_lW2VsISCEeWIv6q3HH7qXA" specification="interface UI:&#xD;&#xA;in event switch&#xD;&#xA;in event flash&#xD;&#xA;operation turnOn()&#xD;&#xA;operation turnOff()" name="lamp">
    <regions xmi:id="_lXt4YISCEeWIv6q3HH7qXA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_lYn3UISCEeWIv6q3HH7qXA">
        <outgoingTransitions xmi:id="_lY0EkYSCEeWIv6q3HH7qXA" target="_lYsIwISCEeWIv6q3HH7qXA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_lYsIwISCEeWIv6q3HH7qXA" specification="entry/UI.turnOff()" name="off" incomingTransitions="_lY0EkYSCEeWIv6q3HH7qXA _7FfMYISCEeWIv6q3HH7qXA">
        <outgoingTransitions xmi:id="_08MS4ISCEeWIv6q3HH7qXA" specification="UI.switch" target="_08AssISCEeWIv6q3HH7qXA"/>
        <outgoingTransitions xmi:id="_NypSQISHEeWIv6q3HH7qXA" specification="UI.flash" target="_NyhWcISHEeWIv6q3HH7qXA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_08AssISCEeWIv6q3HH7qXA" specification="entry/UI.turnOn()" name="on" incomingTransitions="_08MS4ISCEeWIv6q3HH7qXA _bqOGEISHEeWIv6q3HH7qXA _gLAwsISHEeWIv6q3HH7qXA">
        <outgoingTransitions xmi:id="_7FfMYISCEeWIv6q3HH7qXA" specification="UI.switch" target="_lYsIwISCEeWIv6q3HH7qXA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_NyhWcISHEeWIv6q3HH7qXA" specification="entry/UI.turnOn()" name="flash on" incomingTransitions="_NypSQISHEeWIv6q3HH7qXA _fSnwIISHEeWIv6q3HH7qXA">
        <outgoingTransitions xmi:id="_U-U10ISHEeWIv6q3HH7qXA" specification="after 1s" target="_U-NhEISHEeWIv6q3HH7qXA"/>
        <outgoingTransitions xmi:id="_gLAwsISHEeWIv6q3HH7qXA" specification="UI.switch" target="_08AssISCEeWIv6q3HH7qXA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_U-NhEISHEeWIv6q3HH7qXA" specification="entry/UI.turnOff()" name="flash off" incomingTransitions="_U-U10ISHEeWIv6q3HH7qXA">
        <outgoingTransitions xmi:id="_bqOGEISHEeWIv6q3HH7qXA" specification="UI.switch" target="_08AssISCEeWIv6q3HH7qXA"/>
        <outgoingTransitions xmi:id="_fSnwIISHEeWIv6q3HH7qXA" specification="after 1s" target="_NyhWcISHEeWIv6q3HH7qXA"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_lXsqQISCEeWIv6q3HH7qXA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_lW2VsISCEeWIv6q3HH7qXA" measurementUnit="Pixel">
    <children xmi:id="_lX3pYISCEeWIv6q3HH7qXA" type="Region" element="_lXt4YISCEeWIv6q3HH7qXA">
      <children xsi:type="notation:DecorationNode" xmi:id="_lYi-0ISCEeWIv6q3HH7qXA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_lYi-0YSCEeWIv6q3HH7qXA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_lYi-0oSCEeWIv6q3HH7qXA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_lYlbEISCEeWIv6q3HH7qXA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_lYoeYISCEeWIv6q3HH7qXA" type="Entry" element="_lYn3UISCEeWIv6q3HH7qXA">
          <children xmi:id="_lYpFcISCEeWIv6q3HH7qXA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_lYpsgISCEeWIv6q3HH7qXA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_lYpsgYSCEeWIv6q3HH7qXA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_lYpsgoSCEeWIv6q3HH7qXA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_lYpFcYSCEeWIv6q3HH7qXA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lYpFcoSCEeWIv6q3HH7qXA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_lYoeYYSCEeWIv6q3HH7qXA" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lYqTkISCEeWIv6q3HH7qXA" x="70" y="20"/>
        </children>
        <children xmi:id="_lYvMEISCEeWIv6q3HH7qXA" type="State" element="_lYsIwISCEeWIv6q3HH7qXA">
          <children xsi:type="notation:DecorationNode" xmi:id="_lYvMFISCEeWIv6q3HH7qXA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_lYvMFYSCEeWIv6q3HH7qXA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_lYvMFoSCEeWIv6q3HH7qXA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_lYxoUISCEeWIv6q3HH7qXA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_lYxoUYSCEeWIv6q3HH7qXA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lYxoUoSCEeWIv6q3HH7qXA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_lYxoU4SCEeWIv6q3HH7qXA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_lYvMEYSCEeWIv6q3HH7qXA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_lYvMEoSCEeWIv6q3HH7qXA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_lYxoVISCEeWIv6q3HH7qXA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lY0EkISCEeWIv6q3HH7qXA" x="40" y="80" width="145"/>
        </children>
        <children xmi:id="_08DI8ISCEeWIv6q3HH7qXA" type="State" element="_08AssISCEeWIv6q3HH7qXA">
          <children xsi:type="notation:DecorationNode" xmi:id="_08DwAISCEeWIv6q3HH7qXA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_08DwAYSCEeWIv6q3HH7qXA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_08EXEISCEeWIv6q3HH7qXA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_08EXEYSCEeWIv6q3HH7qXA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_08EXEoSCEeWIv6q3HH7qXA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_08EXE4SCEeWIv6q3HH7qXA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_08E-IISCEeWIv6q3HH7qXA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_08DI8YSCEeWIv6q3HH7qXA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_08DI8oSCEeWIv6q3HH7qXA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_08E-IYSCEeWIv6q3HH7qXA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_08DI84SCEeWIv6q3HH7qXA" x="40" y="242" width="145" height="61"/>
        </children>
        <children xmi:id="_NyjLoISHEeWIv6q3HH7qXA" type="State" element="_NyhWcISHEeWIv6q3HH7qXA">
          <children xsi:type="notation:DecorationNode" xmi:id="_NykZwISHEeWIv6q3HH7qXA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_NykZwYSHEeWIv6q3HH7qXA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_NykZwoSHEeWIv6q3HH7qXA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Nyln4ISHEeWIv6q3HH7qXA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Nyln4YSHEeWIv6q3HH7qXA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Nyln4oSHEeWIv6q3HH7qXA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_NymO8ISHEeWIv6q3HH7qXA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_NyjLoYSHEeWIv6q3HH7qXA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_NyjLooSHEeWIv6q3HH7qXA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_NymO8YSHEeWIv6q3HH7qXA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NyjLo4SHEeWIv6q3HH7qXA" x="339" y="87" width="156" height="61"/>
        </children>
        <children xmi:id="_U-NhE4SHEeWIv6q3HH7qXA" type="State" element="_U-NhEISHEeWIv6q3HH7qXA">
          <children xsi:type="notation:DecorationNode" xmi:id="_U-P9UISHEeWIv6q3HH7qXA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_U-P9UYSHEeWIv6q3HH7qXA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_U-P9UoSHEeWIv6q3HH7qXA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_U-P9U4SHEeWIv6q3HH7qXA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_U-P9VISHEeWIv6q3HH7qXA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_U-P9VYSHEeWIv6q3HH7qXA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_U-P9VoSHEeWIv6q3HH7qXA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_U-NhFISHEeWIv6q3HH7qXA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_U-NhFYSHEeWIv6q3HH7qXA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_U-P9V4SHEeWIv6q3HH7qXA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_U-NhFoSHEeWIv6q3HH7qXA" x="339" y="242" width="156"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lYlbEYSCEeWIv6q3HH7qXA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_lX3pYYSCEeWIv6q3HH7qXA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lYmpMISCEeWIv6q3HH7qXA" x="220" y="10" width="601" height="406"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_lY91kISCEeWIv6q3HH7qXA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_lY91koSCEeWIv6q3HH7qXA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_lY91k4SCEeWIv6q3HH7qXA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_lY91lISCEeWIv6q3HH7qXA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_lY91lYSCEeWIv6q3HH7qXA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lY91loSCEeWIv6q3HH7qXA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lY91l4SCEeWIv6q3HH7qXA" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_lXsqQYSCEeWIv6q3HH7qXA"/>
    <edges xmi:id="_lY7ZUISCEeWIv6q3HH7qXA" type="Transition" element="_lY0EkYSCEeWIv6q3HH7qXA" source="_lYoeYISCEeWIv6q3HH7qXA" target="_lYvMEISCEeWIv6q3HH7qXA">
      <children xsi:type="notation:DecorationNode" xmi:id="_lY7ZVISCEeWIv6q3HH7qXA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_lY7ZVYSCEeWIv6q3HH7qXA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_lY7ZVoSCEeWIv6q3HH7qXA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_lY7ZUYSCEeWIv6q3HH7qXA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_lY7ZU4SCEeWIv6q3HH7qXA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_lY7ZUoSCEeWIv6q3HH7qXA" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_08NhAISCEeWIv6q3HH7qXA" type="Transition" element="_08MS4ISCEeWIv6q3HH7qXA" source="_lYvMEISCEeWIv6q3HH7qXA" target="_08DI8ISCEeWIv6q3HH7qXA">
      <children xsi:type="notation:DecorationNode" xmi:id="_08OIEYSCEeWIv6q3HH7qXA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_08OIEoSCEeWIv6q3HH7qXA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_08OIE4SCEeWIv6q3HH7qXA" y="-36"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_08NhAYSCEeWIv6q3HH7qXA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_08OIEISCEeWIv6q3HH7qXA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_08NhAoSCEeWIv6q3HH7qXA" points="[-26, -24, 87, 83]$[-110, -104, 3, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-XBOkISCEeWIv6q3HH7qXA" id="(0.034482758620689655,0.9056603773584906)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-962gISCEeWIv6q3HH7qXA" id="(0.019417475728155338,0.0847457627118644)"/>
    </edges>
    <edges xmi:id="_7FhBkISCEeWIv6q3HH7qXA" type="Transition" element="_7FfMYISCEeWIv6q3HH7qXA" source="_08DI8ISCEeWIv6q3HH7qXA" target="_lYvMEISCEeWIv6q3HH7qXA">
      <children xsi:type="notation:DecorationNode" xmi:id="_7FhBlISCEeWIv6q3HH7qXA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7FhBlYSCEeWIv6q3HH7qXA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7FhooISCEeWIv6q3HH7qXA" y="36"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_7FhBkYSCEeWIv6q3HH7qXA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_7FhBk4SCEeWIv6q3HH7qXA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_7FhBkoSCEeWIv6q3HH7qXA" points="[5, -54, -13, 128]$[16, -168, -2, 14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7Fl6EISCEeWIv6q3HH7qXA" id="(0.9320388349514563,0.01694915254237288)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7Fl6EYSCEeWIv6q3HH7qXA" id="(0.8689655172413793,0.9056603773584906)"/>
    </edges>
    <edges xmi:id="_NyqgYISHEeWIv6q3HH7qXA" type="Transition" element="_NypSQISHEeWIv6q3HH7qXA" source="_lYvMEISCEeWIv6q3HH7qXA" target="_NyjLoISHEeWIv6q3HH7qXA">
      <children xsi:type="notation:DecorationNode" xmi:id="_NyrHcYSHEeWIv6q3HH7qXA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NyrHcoSHEeWIv6q3HH7qXA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NyrHc4SHEeWIv6q3HH7qXA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_NyqgYYSHEeWIv6q3HH7qXA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_NyrHcISHEeWIv6q3HH7qXA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_NyqgYoSHEeWIv6q3HH7qXA" points="[-26, -24, 87, 83]$[-110, -104, 3, 3]"/>
    </edges>
    <edges xmi:id="_U-U10YSHEeWIv6q3HH7qXA" type="Transition" element="_U-U10ISHEeWIv6q3HH7qXA" source="_NyjLoISHEeWIv6q3HH7qXA" target="_U-NhE4SHEeWIv6q3HH7qXA">
      <children xsi:type="notation:DecorationNode" xmi:id="_U-U11YSHEeWIv6q3HH7qXA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_U-U11oSHEeWIv6q3HH7qXA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_U-U114SHEeWIv6q3HH7qXA" x="2" y="-35"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_U-U10oSHEeWIv6q3HH7qXA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_U-U11ISHEeWIv6q3HH7qXA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_U-U104SHEeWIv6q3HH7qXA" points="[-75, -22, 342, 96]$[-414, -117, 3, 1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dnzNEISHEeWIv6q3HH7qXA" id="(0.8269230769230769,0.9016393442622951)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_elGi0ISHEeWIv6q3HH7qXA" id="(0.8012820512820513,0.0)"/>
    </edges>
    <edges xmi:id="_bqPUMISHEeWIv6q3HH7qXA" type="Transition" element="_bqOGEISHEeWIv6q3HH7qXA" source="_U-NhE4SHEeWIv6q3HH7qXA" target="_08DI8ISCEeWIv6q3HH7qXA">
      <children xsi:type="notation:DecorationNode" xmi:id="_bqPUNISHEeWIv6q3HH7qXA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_bqPUNYSHEeWIv6q3HH7qXA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_bqPUNoSHEeWIv6q3HH7qXA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_bqPUMYSHEeWIv6q3HH7qXA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_bqPUM4SHEeWIv6q3HH7qXA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_bqPUMoSHEeWIv6q3HH7qXA" points="[-42, 4, 192, -16]$[-230, 0, 4, -20]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_bqQiUISHEeWIv6q3HH7qXA" id="(0.01282051282051282,0.2641509433962264)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_bqQiUYSHEeWIv6q3HH7qXA" id="(0.7655172413793103,0.36065573770491804)"/>
    </edges>
    <edges xmi:id="_fSnwIYSHEeWIv6q3HH7qXA" type="Transition" element="_fSnwIISHEeWIv6q3HH7qXA" source="_U-NhE4SHEeWIv6q3HH7qXA" target="_NyjLoISHEeWIv6q3HH7qXA">
      <children xsi:type="notation:DecorationNode" xmi:id="_fSnwJYSHEeWIv6q3HH7qXA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fSnwJoSHEeWIv6q3HH7qXA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fSnwJ4SHEeWIv6q3HH7qXA" x="2" y="-5"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_fSnwIoSHEeWIv6q3HH7qXA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_fSnwJISHEeWIv6q3HH7qXA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_fSnwI4SHEeWIv6q3HH7qXA" points="[-7, 0, 2, 108]$[-7, -99, 2, 9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_fSqMYISHEeWIv6q3HH7qXA" id="(0.2948717948717949,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_fSqMYYSHEeWIv6q3HH7qXA" id="(0.23717948717948717,0.8524590163934426)"/>
    </edges>
    <edges xmi:id="_gLDM8ISHEeWIv6q3HH7qXA" type="Transition" element="_gLAwsISHEeWIv6q3HH7qXA" source="_NyjLoISHEeWIv6q3HH7qXA" target="_08DI8ISCEeWIv6q3HH7qXA">
      <children xsi:type="notation:DecorationNode" xmi:id="_gLDM9ISHEeWIv6q3HH7qXA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gLDM9YSHEeWIv6q3HH7qXA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gLDM9oSHEeWIv6q3HH7qXA" x="-12" y="-1"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_gLDM8YSHEeWIv6q3HH7qXA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_gLDM84SHEeWIv6q3HH7qXA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_gLDM8oSHEeWIv6q3HH7qXA" points="[0, 0, 175, -129]$[-170, 120, 5, -9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_gLFpMISHEeWIv6q3HH7qXA" id="(0.0,0.639344262295082)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_gLFpMYSHEeWIv6q3HH7qXA" id="(0.8896551724137931,0.16393442622950818)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
